.gradle
build
inputs
outputs
pastinputs
errored-molecules.txt
dynamic-output.json
input.json
*.json
logs
flamegraph.png
venv
/updated-molecules.txt
src/main/resources/version.txt
overriden-molecules.txt
*.war
*.jar
