<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %08r %highlight{%-5level}{TRACE=bright white} %logger{36} - %msg%n" disableAnsi="false"/>
        </Console>
        <File name="MainFile" fileName="logs/main.log">
            <PatternLayout pattern="%d{ISO8601} %08r %-5level %logger{36} - %msg%n"/>
            <Append value="false" />
        </File>
        <File name="csvFile" fileName="logs/main.csv">
            <CsvLogEventLayout/>
        </File>
        <Async name="AsyncFile">
            <AppenderRef ref="MainFile"/>
            <AppenderRef ref="csvFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFile"/>
        </Root>
    </Loggers>
</Configuration>
